<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.usst.mapper.RecommendationMapper">

    <select id="getUserClickData" resultType="java.util.Map" >
        SELECT user_uuid as userUUID, news_id as newsId, timestamp FROM clicklog
    </select>

</mapper>